* {
    background-color: black;
   
}
h1{
    color:rgb(255, 255, 255);
    font-size: 800px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    font-style:oblique;
    text-align:right;
}
    
li{
    color:rgb(0, 178, 238);
    font-size: 300px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    

}


